.health-bar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #228b22;
  height: 100%;
  z-index: -1;
}
.health-bar-container {
  position: relative;
  background-color: gray;
  border: solid black 2px;
  width: 40%;
  padding: 0.6rem;
  display: inline-block;
  z-index: 1;
}
.health-bar-container span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.health-bar-container span:last-of-type {
  padding-top: 0.4rem;
}
